{% extends 'base.html' %}

{% block  title_text%} Welcome{% endblock %}
{% block  header_text%} Main Menu{% endblock %}


{% block  page_content%}
        <a id="order_list_link" href="/orders/">See order list</a><br/>
        <a id="create_order_link" href="/orders/add/">Create new order</a><br/>
        </br>
        <a id="delivery_list_link" href="/deliveries/">See delivery list</a><br/>
        <a id="create_delievery_link" href="/deliveries/add/">Create new delivery</a><br/>
        </br>
        <a id="invoice_list_link" href="/invoices/">See invoice list</a><br/>
        <a id="create_invoice_link" href="/invoices/add/">Create new invoice</a><br/>
{% endblock %}

