{% extends 'base.html' %}

{% block  title_text%} Invoice {{invoice.invoice_no}}{% endblock %}
{% block  header_text%} Invoice details {% endblock %}

{% block  page_content%}
    <a id="invoice_list_link" href="/invoices/">Back to Invoice List</a></br>


    Debitor: {{ invoice.debitor}}<br/>
    Invoice No: {{ invoice.invoice_no }}<br/>
    Invoice Date: {{ invoice.invoice_date }}<br/>
    Invoice Value: {{ invoice.get_invoice_value }}<br/>

    <table class="table" id="id_invoice_line_table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Value</th>
                <th>Order No</th>
                <th>Delivery No</th>

            </tr>
        </thead>
        <tbody>
            {% for invoiceline in invoice.invoiceline_set.all %}
                 <tr>
                    <td> {{ invoiceline.product }}</td>
                    <td> {{ invoiceline.qty }}</td>
                    <td> {{ invoiceline.unit_price }}</td>
                    <td> {{ invoiceline.get_line_value }}</td>
                    <td> {{ invoiceline.order_line.order.order_no }}</td>
                    <td> {{ invoiceline.delivery_line.delivery.dlry_no }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}