{% extends 'base.html' %}

{% block  title_text%} Orders List{% endblock %}
{% block  header_text%} Orders List {% endblock %}

{% block  page_content%}
        <a id="create_order_link" href="/orders/add">Create new order</a>
        <br/>
        <table id="id_order_table" class="table">
            <tr>
                <th>Customer</th>
                <th>Order No</th>
            </tr>
             {% for order in object_list %}
                 <tr>
                    <td> {{ order.customer }}</td>
                    <td> <a href="/orders/{{ order.id }}/">{{ order.order_no }}</a></td>
                </tr>
             {% endfor %}


        </table>

 {% endblock %}
